[profile.default]
src  = "src"
out  = "out"
libs = ["dependencies"]
# Enable IR pipeline to support complex memory-to-storage copying (required for array of structs)
viaIR     = true
optimizer = true

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
[dependencies]
forge-std                 = "1.9.4"
hyperlane                 = { version = "5.8.3", git = "https://github.com/hyperlane-xyz/hyperlane-monorepo", directory = "solidity", rev = "5b705276183b4c0665ee8be52bd63e8b0173de5c" }
"@openzeppelin-contracts" = "5.2.0-rc.1"
