# macOS
.DS_Store

# Build results
/artifacts
/target
**/target/
**/Cargo.lock
!Cargo.lock

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups
**/*.rs.bk

# IDEs
.vscode/
.idea/
*.iml
**/.editorconfig

# schemas
contracts/**/schema/raw
program-manager/schema/raw

# e2e
e2e/configs
e2e/code_id_cache*
e2e/tmp
e2e/hyperlane_db_relayer
e2e/examples/**/*.wasm

deployment/results
deployment/configs/local
deployment/output_program

# Nix development environment
.direnv/
.envrc

# Working files
work/

# Build and cache directories
target/
.cargo/
node_modules/
dist/
build/
out/

# macOS test tube symlinks/directories
libosmosistesttube/
libntrntesttube/

# Solidity build artifacts
solidity/cache/
solidity/out/
solidity/broadcast/

# ZK build artifacts  
zk/*/target/
circuit/target/
controller/target/