# macOS
.DS_Store

# Build results
/artifacts
/target

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups
**/*.rs.bk

# IDEs
.vscode/
.idea/
*.iml
**/.editorconfig

# raw schemas
contracts/**/schema/raw

# local interchain
local-interchaintest/configs
local-interchaintest/code_id_cache*.json