[workspace]
members = [
  "contracts/accounts/*",
  "contracts/services/*",
  "packages/*",
]
resolver = "2"

[workspace.package]
edition    = "2021"
license    = "BSL"
version    = "0.1.0"
repository = "https://github.com/timewave-computer/valence-protocol"

[workspace.dependencies]
cosmwasm-schema = "2.1.0"
cosmwasm-std    = { version = "2.1.0", features = ["cosmwasm_1_4"] }
cw-storage-plus = "2.0.0"
cw2             = "2.0.0"
schemars        = "0.8.16"
serde           = { version = "1.0.197", default-features = false, features = ["derive"] }
thiserror       = { version = "1.0.58" }
valence-macros  = { path = "packages/valence-macros" }
cw-ownable      = "2.0.0"

# dev-dependencies
cw-multi-test = "2.0.0"
