[workspace]
members = [
    "contracts/accounts/*",
    "contracts/services/*",
    "contracts/authorization",
    "contracts/processor",
    "contracts/workflow-registry",
    "packages/*",
    "workflow-manager",
    "local-interchaintest",
]
resolver = "2"

[workspace.package]
authors    = ["Timewave Labs"]
edition    = "2021"
license    = "Apache-2.0"
version    = "0.1.0"
repository = "https://github.com/timewave-computer/valence-protocol"

[profile.release]
opt-level        = 3
debug            = false
rpath            = false
lto              = true
debug-assertions = false
codegen-units    = 1
panic            = 'abort'
incremental      = false
overflow-checks  = true

[workspace.dependencies]
cosmwasm-std    = { version = "2.1.3", features = ["cosmwasm_1_4"] }
cosmwasm-schema = "2.1.3"
cw-utils        = "2.0.0"
cw-storage-plus = "2.0.0"
cw2             = "2.0.0"
schemars        = "0.8.16"
serde           = { version = "1.0.207", default-features = false, features = ["derive"] }
serde_json      = "1.0.125"
thiserror       = "1.0.63"
cw-ownable      = "2.0.0"
neutron-sdk     = "0.11.0"
anyhow          = "1.0.86"
getset          = "0.1.3"
sha2            = "0.10.8"
cw-denom        = { package = "cw-denom", git = "https://github.com/DA0-DA0/dao-contracts", branch = "cw-std-2"}

# our contracts
base-account              = { package = "valence-base-account", path = "contracts/accounts/base_account", features = ["library"] }
valence-splitter          = { path = "contracts/services/splitter-temp", features = ["library"] }
valence-reverse-splitter  = { path = "contracts/services/reverse-splitter-temp", features = ["library"] }
valence-processor         = { path = "contracts/processor", features = ["library"] }
valence-base-account      = { path = "contracts/accounts/base_account", features = ["library"] }
valence-authorization     = { path = "contracts/authorization", features = ["library"] }
valence-workflow-registry = { path = "contracts/workflow-registry", features = ["library"] }
valence-test-service      = { path = "contracts/services/test-service", features = ["library"] }

# our packages
valence-macros                     = { path = "packages/valence-macros" }
valence-authorization-utils        = { path = "packages/authorization-utils" }
valence-processor-utils            = { path = "packages/processor-utils" }
valence-polytone-utils             = { path = "packages/polytone-utils" }
valence-local-interchaintest-utils = { path = "packages/local-interchaintest-utils" }
service-utils                      = { package = "valence-service-utils", path = "packages/service-utils" }
service-base                       = { package = "valence-service-base", path = "packages/service-base" }
valence-workflow-registry-utils    = { path = "packages/workflow-registry-utils" }

# dev-dependencies
cw-multi-test        = { version = "2.1.1", features = ["cosmwasm_1_4"] }
neutron-test-tube    = "4.2.0"
margined-neutron-std = "4.2.0"
hex                  = "0.4.3"
cw20                 = { version = "2.0.0" }
cw20-base            = { version = "2.0.0" }
