[package]
name        = "valence-ibc-utils"
version     = { workspace = true }
edition     = { workspace = true }
authors     = { workspace = true }
description = "Helpers for IBC functionalities"

[features]
default = [ "generic" ]
generic = [  ]
neutron = [ "dep:neutron-sdk" ]

[dependencies]
cw-denom         = { workspace = true }
cw-storage-plus  = { workspace = true }
cosmos-sdk-proto = { workspace = true }
cosmwasm-std     = { workspace = true }
cosmwasm-schema  = { workspace = true }
serde            = { workspace = true }

# Optional dependencies
neutron-sdk = { workspace = true, optional = true }
