[package]
name        = "valence-osmosis-utils"
version     = { workspace = true }
edition     = { workspace = true }
authors     = { workspace = true }
description = "Utils for osmosis libraries"

[features]
default = []
testing = [
    "dep:osmosis-test-tube",
]

[dependencies]
cosmwasm-std          = { workspace = true }
cosmwasm-schema       = { workspace = true }
osmosis-test-tube     = { workspace = true, optional = true }
valence-account-utils = { workspace = true }
osmosis-std           = { workspace = true }
valence-library-utils = { workspace = true }
